<h1>Users</h1>

<div>
  Filter: <input ng-model="query" />
  Sort by:
  <select ng-model="orderProp">
    <option value="id">Id</option>
    <option value="email">Email</option>
  </select>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:query | orderBy:orderProp" id="user_{{user.id}}">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>
          <a href="#/users/{{user.id}}" class="sepV_a"><i class="icon-eye-open"></i></a>
          <a href="#/users/{{user.id}}/edit" class="sepV_a"><i class="icon-pencil"></i></a>
          <a href="javascript:void(0)" ng-click="destroy({{user.id}})"><i class="icon-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
