<h3 class="heading">New User</h3>
<form class="form_validation_reg" >
  <div class="formSep">
    <div class="row-fluid">
      <div class="span4">
        <label for="user_email">Email <span class="f_req">*</span></label>
        <input id="user_email" type="text" name="user[email]" class="span12" ng-model="user.email" />
      </div>
    </div>
  </div>
  <div class="formSep">
    <div class="row-fluid">
      <div class="span4">
        <label for="user_password">Password <span class="f_req">*</span></label>
        <input id="user_password" type="password" name="user[password]" class="span12" ng-model="user.password" />
      </div>
      <div class="span4">
        <label for="user_password_confirmation">Password Confirmation <span class="f_req">*</span></label>
        <input id="user_password_confirmation" type="password" name="user[password_confirmation]" class="span12" ng-model="user.password_confirmation" />
      </div>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn btn-inverse" type="submit" ng-click="create(user)">Save changes</button>
    <!-- <button class="btn">Cancel</button> -->
  </div>
</form>

