<div class="row-fluid">
  <div class="span12">
    <h3 class="heading">{{user.email}}</h3>
    <div class="row-fluid">
      <div class="span12">
        <div class="vcard">
          <img class="thumbnail" src="http://www.placehold.it/80x80/EFEFEF/AAAAAA" alt="" />
          <ul>
            <li class="v-heading">
              User info
            </li>
            <li>
              <span class="item-key">Email</span>
              <div class="vcard-item">{{user.email}}</div>
            </li>
            <li class="v-heading">
              Recent activity <span>(latest 24 hours)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

