<h3 class="heading">Import user</h3>

<% if flash and flash[:error_msg] %>
<div class="alert alert-error">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Error: </strong> Please upload right excel file
</div>
<% end %>

<%= form_tag import_users_path, multipart: true do %>
  <div data-provides="fileupload" class="fileupload fileupload-new"><input type="hidden" />
    <div class="input-append">
      <div class="uneditable-input span2">
        <i class="icon-file fileupload-exists"></i>
        <span class="fileupload-preview"></span>
      </div>
      <span class="btn btn-file">
        <span class="fileupload-new">Select file</span>
        <span class="fileupload-exists">Change</span>
        <%= file_field_tag "user[file]" %>
      </span>
      <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
    </div>
    <div class="form-actions">
      <%= submit_tag "Import excel", :class => "btn btn-success" %>
      <a href="/#/users" class="btn">Cancel</a>
    </div>
  </div>
<% end %>

