<div class="row-fluid">
  <div class="span12">
    <h3 class="heading">{{customer.name}}</h3>
    <div class="row-fluid">
      <div class="span12">
        <div class="vcard">
          <ul class="plan">
            <li class="v-heading">
              Personal info
            </li>
            <li>
              <span class="item-key">Gender</span>
              <div class="vcard-item">{{customer.gender}}</div>
            </li>
            <li>
              <span class="item-key">ID no.</span>
              <div class="vcard-item">{{customer.id_no}}</div>
            </li>
            <li>
              <span class="item-key">Birthday</span>
              <div class="vcard-item">{{customer.birthday}}</div>
            </li>
            <li class="v-heading">
              Contact info
            </li>
            <li>
              <span class="item-key">Phone</span>
              <div class="vcard-item">{{customer.phone}}</div>
            </li>
            <li>
              <span class="item-key">Address</span>
              <div class="vcard-item">{{user.address}}</div>
            </li>
            <li class="v-heading">
              Bond info
            </li>
            <li>
              <span class="item-key">Fund account</span>
              <div class="vcard-item">{{customer.fund_account}}</div>
            </li>
            <li class="v-heading">
              Customer category
            </li>
            <li>
              <span class="item-key">Category name</span>
              <div class="vcard-item">{{customer.category.name}}</div>
            </li>
            <li>
              <span class="item-key">Category description</span>
              <div class="vcard-item">{{customer.category.desc}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

