<h3 class="heading">New Plan</h3>
<form class="form_validation_reg" >
  <div class="formSep">
    <div class="row-fluid">
      <div class="span4">
        <label for="plan_name">Name <span class="f_req">*</span></label>
        <input id="plan_name" type="text" name="plan[name]" class="span12" ng-model="plan.name" />
      </div>
      <div class="span4">
        <label for="plan_category">Category <span class="f_req">*</span></label>
        <input id="plan_category" type="text" category="plan[category]" class="span12" ng-model="plan.category" />
      </div>
    </div>
  </div>
  <div class="formSep">
    <div class="row-fluid">
      <label for="plan_desc">Description </label>
      <textarea id="plan_desc" category="plan[desc]" cols="10" rows="3" class="span8" ng-model="plan.desc"></textarea>
    </div>
  </div>
  <div class="formSep">
    <div class="row-fluid">
      <label for="plan_content">Content </label>
      <textarea id="plan_content" category="plan[content]" cols="10" rows="3" class="span8" ng-model="plan.content"></textarea>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn btn-inverse" type="submit" ng-click="create(plan)">Save changes</button>
    <a href="#/plans" class="btn">Cancel</a>
  </div>
</form>

