<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" title="Hide Sidebar">Sidebar switch</a>
<div class="sidebar">

  <div class="antiScroll">
    <div class="antiscroll-inner">
      <div class="antiscroll-content">

        <%= render "layouts/sidebar/nav" unless @is_search_page || false %>
        <%= render "layouts/sidebar/search" if @is_search_page || true%>

      </div>
    </div>
  </div>

</div>
